@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
body, html {
    height: 100%;
}
body {
    background-color: #111;
    overflow: hidden;
}
#circle-line {
    height: 20px;
    width: 100%;
    display: block;
    position: absolute;
    top: calc(50% - 10px);
}
.way {
    position: relative;
    width: 100%;
    top: calc(50% - 45px);
    animation: way 5s linear infinite;
}
.way::before {
    content: '';
    position: absolute;
    height: 40px;
    top: 28px;
    right: 70px;
    width: calc(100% + 90px);
    background-color: #111;
}
.pacman {
    position: absolute;
    right: 0;
    width: 90px;
    height: 90px;
}
.pacman svg {
    width: 90px;
    height: 45px;
}
.pacman-tp {
    animation: tp 0.5s infinite;
}
.pacman-btm {
    margin-top: -5px;
    animation: btm 0.5s infinite;
}
@keyframes way {
    from {
        right: 100%;
   }
    to {
        right: -90px;
   }
}
@keyframes tp {
    from {
        transform: rotate(-40deg);
   }
    to {
        transform: rotate(0);
   }
}
@keyframes btm {
    from {
        transform: rotate(40deg);
   }
    to {
        transform: rotate(0);
   }
}
