body {
    background-image: url(../Images/imageArt.png);
}
.prev a, .next a {
    position: fixed;
    top: 9.6em;
    padding: 1em;
    background: #EC833F;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #ffffff;
}
.prev a:hover, .next a:hover {
    background: #03A062;
}
.prev a {
    left: 0.7em;
}
.next a {
    right: 0.7em;
}


h1 {
    
        font-family: 'mainFont'; 
        text-align: center;
   color: aquamarine;
}
.asciiart-wrap {
    background: #000;
}
.asciiart {
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    word-break: break-all;
    color: #fff;
    font-family: monospace;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 30px;
    padding: 3px;
    text-align: justify;
}
.art-1 {
    background-image: url(../Images/DavidCarrierImage.jpg);
}
.art-2 {
    background-image: url(https://unsplash.it/1200/600/?image=1027);
}
.art-3 {
    background-image: url(../Images/logo.png)
}
