body {
    margin: 0;
    overflow: hidden;
    background: #03A062;
    background-image: url(../Images/imageArt.png);
}
h1{
    font-family: 'mainFont'; 
    text-align: center;
}
body canvas, body img {
    position: absolute;
    left: 50%;
    top: 50%;
    
}

.prev a, .next a {
    position: fixed;
    top: 9.6em;
    padding: 1em;
    background: #EC833F;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #ffffff;
}
.prev a:hover, .next a:hover {
    background: #03A062;
}
.prev a {
    left: 0.7em;
}
.next a {
    right: 0.7em;
}
