body {
    margin: 0;
}
#bridge {
    display: block;
    margin: 0 auto;
    background-image: url('../Images/art.png');
    background-image: -webkit-image-set(url('../Images/This\ is\ everything\ else.png') 1x, url('../Images/This\ is\ everything\ else.png') 2x);
    background-size: cover;
    width: 100%;
    max-width: 750px;
    height: auto;
    cursor: crosshair;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}
#bridgeContainer {
    text-align: center;
    font-family: Avenir, sans-serif;
}
#bridgeContainer figcaption {
    margin-top: 2rem;
}
@import "compass/css3";
 html {
	 box-shadow: inset 0 0 30px 0 #000;
	 min-height: 100%;
}
 .art {
	 
	 color: #FF48F9;
	 font-size: 3.8em;
	 font-family: "Courier New", Courier, monospace;
}
 div {
	 margin-top: 1%;
	 text-align: center;
}
 span {
	 display: inline-block;
	 opacity: 0;
	 margin: 0;
}
 span:nth-child(1) {
	 animation: flyin1 4s 1 forwards;
}
 @keyframes flyin1 {
	 0% {
		 transform: translate(-223px, 280px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(2) {
	 animation: flyin2 4s 1 forwards;
}
 @keyframes flyin2 {
	 0% {
		 transform: translate(133px, -185px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(3) {
	 animation: flyin3 4s 1 forwards;
}
 @keyframes flyin3 {
	 0% {
		 transform: translate(-38px, -146px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(4) {
	 animation: flyin4 4s 1 forwards;
}
 @keyframes flyin4 {
	 0% {
		 transform: translate(347px, 285px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(5) {
	 animation: flyin5 4s 1 forwards;
}
 @keyframes flyin5 {
	 0% {
		 transform: translate(304px, -80px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(6) {
	 animation: flyin6 4s 1 forwards;
}
 @keyframes flyin6 {
	 0% {
		 transform: translate(-311px, -256px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(7) {
	 animation: flyin7 4s 1 forwards;
}
 @keyframes flyin7 {
	 0% {
		 transform: translate(67px, -332px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(8) {
	 animation: flyin8 4s 1 forwards;
}
 @keyframes flyin8 {
	 0% {
		 transform: translate(-291px, 252px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(9) {
	 animation: flyin9 4s 1 forwards;
}
 @keyframes flyin9 {
	 0% {
		 transform: translate(328px, 181px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(10) {
	 animation: flyin10 4s 1 forwards;
}
 @keyframes flyin10 {
	 0% {
		 transform: translate(-150px, -296px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(11) {
	 animation: flyin11 4s 1 forwards;
}
 @keyframes flyin11 {
	 0% {
		 transform: translate(201px, 41px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(12) {
	 animation: flyin12 4s 1 forwards;
}
 @keyframes flyin12 {
	 0% {
		 transform: translate(253px, 148px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(13) {
	 animation: flyin13 4s 1 forwards;
}
 @keyframes flyin13 {
	 0% {
		 transform: translate(326px, 226px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(14) {
	 animation: flyin14 4s 1 forwards;
}
 @keyframes flyin14 {
	 0% {
		 transform: translate(-13px, -105px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(15) {
	 animation: flyin15 4s 1 forwards;
}
 @keyframes flyin15 {
	 0% {
		 transform: translate(192px, -78px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(16) {
	 animation: flyin16 4s 1 forwards;
}
 @keyframes flyin16 {
	 0% {
		 transform: translate(-120px, -159px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(17) {
	 animation: flyin17 4s 1 forwards;
}
 @keyframes flyin17 {
	 0% {
		 transform: translate(167px, 217px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(18) {
	 animation: flyin18 4s 1 forwards;
}
 @keyframes flyin18 {
	 0% {
		 transform: translate(-172px, 185px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(19) {
	 animation: flyin19 4s 1 forwards;
}
 @keyframes flyin19 {
	 0% {
		 transform: translate(82px, -107px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(20) {
	 animation: flyin20 4s 1 forwards;
}
 @keyframes flyin20 {
	 0% {
		 transform: translate(-328px, -230px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(21) {
	 animation: flyin21 4s 1 forwards;
}
 @keyframes flyin21 {
	 0% {
		 transform: translate(-54px, -63px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(22) {
	 animation: flyin22 4s 1 forwards;
}
 @keyframes flyin22 {
	 0% {
		 transform: translate(310px, -304px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(23) {
	 animation: flyin23 4s 1 forwards;
}
 @keyframes flyin23 {
	 0% {
		 transform: translate(121px, 108px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(24) {
	 animation: flyin24 4s 1 forwards;
}
 @keyframes flyin24 {
	 0% {
		 transform: translate(-118px, -223px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(25) {
	 animation: flyin25 4s 1 forwards;
}
 @keyframes flyin25 {
	 0% {
		 transform: translate(-74px, 161px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(26) {
	 animation: flyin26 4s 1 forwards;
}
 @keyframes flyin26 {
	 0% {
		 transform: translate(-298px, 56px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(27) {
	 animation: flyin27 4s 1 forwards;
}
 @keyframes flyin27 {
	 0% {
		 transform: translate(-178px, 200px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(28) {
	 animation: flyin28 4s 1 forwards;
}
 @keyframes flyin28 {
	 0% {
		 transform: translate(160px, 78px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(29) {
	 animation: flyin29 4s 1 forwards;
}
 @keyframes flyin29 {
	 0% {
		 transform: translate(-94px, -97px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(30) {
	 animation: flyin30 4s 1 forwards;
}
 @keyframes flyin30 {
	 0% {
		 transform: translate(71px, 224px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(31) {
	 animation: flyin31 4s 1 forwards;
}
 @keyframes flyin31 {
	 0% {
		 transform: translate(-303px, -120px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(32) {
	 animation: flyin32 4s 1 forwards;
}
 @keyframes flyin32 {
	 0% {
		 transform: translate(-96px, 175px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(33) {
	 animation: flyin33 4s 1 forwards;
}
 @keyframes flyin33 {
	 0% {
		 transform: translate(165px, 104px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(34) {
	 animation: flyin34 4s 1 forwards;
}
 @keyframes flyin34 {
	 0% {
		 transform: translate(160px, -188px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(35) {
	 animation: flyin35 4s 1 forwards;
}
 @keyframes flyin35 {
	 0% {
		 transform: translate(-127px, 5px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(36) {
	 animation: flyin36 4s 1 forwards;
}
 @keyframes flyin36 {
	 0% {
		 transform: translate(-146px, -243px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(37) {
	 animation: flyin37 4s 1 forwards;
}
 @keyframes flyin37 {
	 0% {
		 transform: translate(6px, -144px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(38) {
	 animation: flyin38 4s 1 forwards;
}
 @keyframes flyin38 {
	 0% {
		 transform: translate(321px, -126px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(39) {
	 animation: flyin39 4s 1 forwards;
}
 @keyframes flyin39 {
	 0% {
		 transform: translate(-14px, -347px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(40) {
	 animation: flyin40 4s 1 forwards;
}
 @keyframes flyin40 {
	 0% {
		 transform: translate(-186px, -147px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 span:nth-child(41) {
	 animation: flyin41 4s 1 forwards;
}
 @keyframes flyin41 {
	 0% {
		 transform: translate(-248px, 50px);
	}
	 25% {
		 opacity: 0.1;
	}
	 100% {
		 transform: translate(0, 0);
		 opacity: 1;
	}
}
 